/* Título */ 
header {
    height: 25vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
} 

/* Barra de navegación */
.navbar {
    font-size: 1.5rem;
    display: flex;
    background-color: #E2F0F6 ;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
}
.navbar a {
    margin: 0 2rem;
}

    /* Derecha: enlaces */
.enlaces a:link,
.enlaces a:visited,
.enlaces a:hover,
.enlaces a:active {
    text-decoration: none;
    color: black;
}
.enlaces a:hover {
    font-weight: 500;
}

    /* Izquierda: logeo */
.log {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log a,
.log button {
    padding: 0.7rem 1.5rem;
    margin: 1rem;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #d28b21 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
}
.log button:hover, 
.log a:hover {
  background-color: #b5631a ;
  color: white;
}