<!-- Titulo -->
<header>
  <img src="../assets/images/epasa_logo_horizontal_v2.png">
</header>

<hr class="linea">

<!-- Barra de navegación -->
<nav class="navbar">
  <!-- Enlaces a las páginas -->
  <div class="enlaces">
    <a routerLink="/">Home</a>  |  
    <a routerLink="/servicios">Servicios</a>  |  
    <a routerLink="/directorio">Directorio</a>  |  
    <a routerLink="/administrar">Administrar</a>
  </div>

  <!-- Logeo -->
  <div  class="log">
      <li><a routerLink="/logeo">Log in</a></li>
      <li><button (click)="logout()">Log out</button></li>
  </div>
</nav>

<hr class="linea">

<router-outlet></router-outlet>