<main>
    <!-- Section: servicios -->
    <section class="bienvenida">
        <h2>Servicios para los empleados</h2>
        <hr class="subrayado">
        <p>Encuentra aquí los formularios para la mayoría de tus gestiones.</p>
        <p class="linea-2">Recuerda seguir las instrucciones del formulario para rellenarlo y remitirlo a dirección que se indique.</p>
        <p class="linea-2">Para otras cuestiones ponte en contacto con <span class="mail">rrhh&#64;epa.com</span></p>
    
        <!-- Ficha de servicios-->
        <div class="container">
            <img src="../../assets/images/servicios.jpg">
            <div class="ficha">
                <div class="bloque">
                <h4>Trámites de vacaciones, bajas y permisos</h4>
                    <ul class="vacaciones">
                        <li>· <span class="underline">Solicitud de vacaciones <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de baja médica <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de permiso por asuntos personales <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de permiso por enfermedad <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de permiso por licencia de maternidad <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de permiso por mudanza <i class="fas fa-external-link-alt"></i></span></li>
                    </ul>
                </div>
                <div class="bloque">
                <h4>Trámites de nóminas</h4>
                    <ul class="nominas">
                        <li>· <span class="underline">Consulta tu nómina <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de duplicado de nómina <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Actualización de datos bancarios <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Reclamación por errores en la nómina  <i class="fas fa-external-link-alt"></i></span></li>
                    </ul>
                </div>
                <div class="bloque">
                <h4>Otros trámites</h4>
                    <ul class="nominas">
                        <li>· <span class="underline">Solicitud de cambio de horario  <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de anticipos salariales <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de reembolso de dietas y otros gastos <i class="fas fa-external-link-alt"></i></span></li>
                        <li>· <span class="underline">Solicitud de certificados <i class="fas fa-external-link-alt"></i></span></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</main>

<!-- Footer -->
<app-footer></app-footer>