<main>
    <h1>Portal de empleados</h1>

    <section class="bienvenida__home">
        <h2>Bienvenido/a</h2>
        <hr class="subrayado">
        <p>Bienvenido al portal de recursos humanos de EPA S.A. CONSULTING. Aquí podrás acceder al Directorio de RRHH y realizar otras gestiones relacionadas con tu trabajo.</p>
    </section>

    <img src="../../assets/images/banner.jpg">
    
    <section class="home__faq">
        <h2>FAQ</h2>
        <hr class="subrayado">
        
        <div class="home__faq__contenido">
            <article class="faq__pregunta">
                <h3>Soy empleado de BIRT Consulting, ¿a qué secciones puedo acceder?</h3>
                <p>Los empleados pueden acceder al Directorio y a los Servicios para empleados.</p>
            </article>
            <article class="faq__pregunta">
                <h3>Soy trabajador de RRHH y gestor de personal, ¿a qué secciones puedo acceder?</h3>
                <p>Los empleados de RRHH que gestionan personal pueden acceder funciones ampliadas relacionadas con su trabajo.</p>
            </article>
            <article class="faq__pregunta">
                <h3>¿Qué gestiones puedo realizar desde aquí?</h3>
                <p>Los empleados pueden acceder a los formularios de soliciturd de vacaciones, permisos, y otras gestiones relacionadas con nóminas.</p>
            </article>
        </div>
    </section>

</main>

<!-- Footer -->
<app-footer></app-footer>